
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>
<body>
    <main>
        <div>
            <h1>My List</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for item in all_list %}
                <tr>
                    <td><a href="{% url "todo_list_detail" item.id %}"> {{ item.name }}</a></td>
                    <td> {{item.items.all|length }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
